<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar><a class="home-icon" [routerLink]="['/home']"><img src="baseball square border.png"
                    alt=""></a></mat-toolbar>
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/home']">
                Home@if(routeActive('home')){<span class="active-indicator">></span>}
            </a>
            <a mat-list-item [routerLink]="['/leaders']">
                Leaders @if(routeActive('leaders')){<span class="active-indicator">></span>}
            </a>
            <a mat-list-item [routerLink]="['/teams']">
                Teams @if(routeActive('teams')){<span class="active-indicator">></span>}
            </a>
            <a mat-list-item [routerLink]="['/games']">
                Games @if(routeActive('games')){<span class="active-indicator">></span>}
            </a>
            <a mat-list-item [routerLink]="['/parks']">
                Parks @if(routeActive('parks')){<span class="active-indicator">></span>}
            </a>
            <a mat-list-item [routerLink]="['/about']">
                About @if(routeActive('about')){<span class="active-indicator">></span>}
            </a>
            <a mat-list-item [routerLink]="['/admin']">
                Admin @if(routeActive('admin')){<span class="active-indicator">></span>}
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <mat-toolbar class="mat-primary">
            @if (isHandset$ | async) {
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            } @else {
            <span class="title">Eschenfeldt Baseball</span>
            }
            <app-search></app-search>
        </mat-toolbar>
        <div class="content-wrapper">
            <router-outlet />
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>