@use '@angular/material' as mat;

.sidenav-container {
    height: 100%;
}

.sidenav-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    // overflow: hidden;
}

.sidenav {
    width: 100px;

    .mat-toolbar {
        background: inherit;
    }

    .active-indicator {
        position: absolute;
        right: 10px;
    }
}

mat-toolbar {
    color: var(--secondary-color);
}

.mat-drawer {
    border-radius: 0;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.content-wrapper {
    flex: auto;
    min-height: 0;
    padding: 1em;
}

.home-icon {
    height: 100%;
    width: 100%;

    img {
        height: 100%;
    }
}