.content {
    margin: 10pt;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    min-height: 0;
    overflow-y: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1em;
}

:host {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}