<div class="content">
    @if (summaryStats$ | async; as summaryStats) {
    <app-summary-stats-card [summaryStats]="summaryStats" title="All Games" class="home-card"></app-summary-stats-card>
    }
    @if (randomGame$ | async; as randomGame) {
    <app-game-card purpose="Randomly selected game" [game]="randomGame" class="home-card"></app-game-card>
    }
    @if (randomPlayer$ | async; as randomPlayer) {
    <app-player-card purpose="Randomly selected player" [player]="randomPlayer" class="home-card"></app-player-card>
    }
</div>