@if (game$ | async; as game) {
<!-- <div class="game"> -->
<h5>{{game.name}}</h5>
<div class="game-teams">
    <mat-card appearance="raised">
        <mat-card-header>
            <mat-card-title>
                <a [routerLink]="['/team', game.away.id]" routerLinkActive="router-link-active">
                    {{game.away.name}}
                </a>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            {{game.awayScore}}
        </mat-card-content>
        @if (boxScoresActive) {
        <mat-card-actions>
            <mat-button-toggle-group name="awayTeamOptions" aria-label="Away Team Options" [(ngModel)]="boxScoreOption"
                [hideSingleSelectionIndicator]="true">
                <mat-button-toggle value="awayBatters">{{batterLabel}}</mat-button-toggle>
                <mat-button-toggle value="awayPitchers">{{pitcherLabel}}</mat-button-toggle>
                <mat-button-toggle value="awayFielders">{{fielderLabel}}</mat-button-toggle>
            </mat-button-toggle-group>
        </mat-card-actions>
        }
    </mat-card>
    <mat-card appearance="raised">
        <mat-card-header>
            <mat-card-title>
                <a [routerLink]="['/team', game.home.id]" routerLinkActive="router-link-active">
                    {{game.home.name}}
                </a>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            {{game.homeScore}}
        </mat-card-content>
        @if (boxScoresActive) {
        <mat-card-actions>
            <mat-button-toggle-group name="homeTeamOptions" aria-label="home Team Options" [(ngModel)]="boxScoreOption"
                [hideSingleSelectionIndicator]="true">
                <mat-button-toggle value="homeBatters">{{batterLabel}}</mat-button-toggle>
                <mat-button-toggle value="homePitchers">{{pitcherLabel}}</mat-button-toggle>
                <mat-button-toggle value="homeFielders">{{fielderLabel}}</mat-button-toggle>
            </mat-button-toggle-group>
        </mat-card-actions>
        }
    </mat-card>
</div>

<mat-tab-group [(selectedIndex)]="tabIndex" dynamicHeight>
    <mat-tab label="Details">
        <app-game-details [game]="game"></app-game-details>
    </mat-tab>
    <mat-tab label="Box Score">
        <div class="mat-tab-body-wrapper">
            @if (battersDataSource(game); as dataSource) {
            <app-box-score-batters [dataSource]="dataSource" class="game-box"></app-box-score-batters>
            }
            @if (pitchersDataSource(game); as dataSource) {
            <app-box-score-pitchers [dataSource]="dataSource" class="game-box"></app-box-score-pitchers>
            }
            @if (fieldersDataSource(game); as dataSource) {
            <app-box-score-fielders [dataSource]="dataSource" class="game-box"></app-box-score-fielders>
            }
        </div>
    </mat-tab>
    <mat-tab label="Scorecard">
        <app-scorecard [game]="game"></app-scorecard>
    </mat-tab>
    @if (hasMedia(game)) {
    <mat-tab label="Media">
        <div class="mat-tab-body-wrapper">
            <app-live-photo [photo]="livePhoto"></app-live-photo>
        </div>
        <!-- <video controls src="https://eschenfeldt-baseball-media.nyc3.cdn.digitaloceanspaces.com/video/IMG_4244.mov"
            width="100%"></video> -->
        <!-- <img src="https://eschenfeldt-baseball-media.nyc3.cdn.digitaloceanspaces.com/images/IMG_4307.jpeg"
            alt="test image" width="100%"> -->
    </mat-tab>
    }
</mat-tab-group>
<!-- </div> -->
} @else {
<mat-spinner></mat-spinner>
}