.game-teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1em;

    mat-card-header {
        text-align: center;
    }

    mat-card-content {
        font-size: 2em;
        text-align: center;
        font-weight: bolder;
    }
}

mat-spinner {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}