<div #livephoto class="live-photo" style="height: 500px;"></div>

<p>
    TODO:
</p>
<ol>
    <li>Create grid view of thumbnails to put in "Media" tab</li>
    <li>New higher-level route (not inside Game) to focus on one photo/video with carousel and/or timeline</li>
    <li>Expand C# model to store MediaResources</li>
    <li>Link media resources to games</li>
    <li>Link media resource to players (eventually we want to link to plate appearances which would imply both; consider
        whether that should impact the data model now)</li>
    <li>Figure out import script (maybe use python since swift tools seem questionable)?</li>
    <li>Add team color to data model + various places in app</li>
    <li>Random and/or favorite image per game/player (optional favorite otherwise show random?)</li>
</ol>