<div class="leader-filters">

    <mat-button-toggle-group name="type" aria-label="Player Type" multiple [(ngModel)]="showTables">
        <mat-button-toggle value="batters">{{batterLabel}}</mat-button-toggle>
        <mat-button-toggle value="pitchers">{{pitcherLabel}}</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="filters-container">
        <app-list-filters [uniqueIdentifier]="batterIdentifier" [secondaryUniqueIdentifiers]="[pitcherIdentifier]"
            [includePlayerSearch]="true"></app-list-filters>
    </div>
</div>

<app-leaderboard-batters [hidden]="!showBatters"></app-leaderboard-batters>
<app-leaderboard-pitchers [hidden]="!showPitchers"></app-leaderboard-pitchers>