<div class="content">
    Under construction...
</div>

<span class="disclaimers">
    <p>
        Designed and developed by Patrick Eschenfeldt.
    </p>
    <p>
        Games scored by Patrick Eschenfeldt using <a href="http://iscoresports.com/baseball/">iScore Baseball</a>.
    </p>
    <p>
        Some statistics computed using constants from <a
            href="https://www.fangraphs.com/guts.aspx?type=cn">Fangraphs</a>.
    </p>
    <p>
        All scoring and calculation errors are my own.
    </p>
</span>