<h2 mat-dialog-title>
    Upload media for {{game.name}}
</h2>
<mat-dialog-content>
    <mat-form-field>
        @if (filesUploaded) {
        @if (fileNames.length < 9) { <ul>
            @for (fileName of fileNames; track fileName) {
            <li>
                {{fileName}}
            </li>
            }
            </ul>
            } @else {
            <p>{{fileNames.length}} files selected</p>
            }
            }
            <input type="file" class="file-input" (change)="onFileSelected($event)" #filesUpload multiple>
            <input matInput>
            <button mat-button (click)="filesUpload.click()">Upload</button>
    </mat-form-field>
    @if (uploading) {
    <div>
        <p>Uploading {{fileNames.length}} files...</p>
        <mat-progress-bar mode="determinate" [value]="uploadPercentage"></mat-progress-bar>
    </div>
    }
    @if (activeTask) {
    <div>
        <p>{{activeTask.message}}</p>
        <mat-progress-bar mode="determinate" [value]="processPercentage"></mat-progress-bar>
        <button mat-button (click)="kickTask()">Kick</button>
    </div>
    }
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button [disabled]="!filesUploaded" (click)="import()">Import</button>
    <button mat-button [mat-dialog-close]="false">Close</button>
</mat-dialog-actions>