mat-card-header {
    margin-bottom: 1em;

    mat-card-title {
        padding-right: 3em;
    }

    button {
        position: absolute;
        right: 1em;
        top: 1em;
    }
}

app-thumbnail {
    max-width: 100%;
}

// https://github.com/angular/components/issues/25566
.mat-mdc-tooltip-trigger {
    touch-action: auto !important;
    -webkit-user-drag: auto !important;
}