<div class="disclaimers">
    <p>
        A record of baseball games attended and scored by Patrick Eschenfeldt.
    </p>
    <p>
        Designed and developed by Patrick Eschenfeldt.
    </p>
    <p>
        Games scored using <a href="http://iscoresports.com/baseball/">iScore Baseball</a>.
    </p>
    <p>
        Some statistics computed using constants from <a
            href="https://www.fangraphs.com/guts.aspx?type=cn">Fangraphs</a>.
    </p>
    <p>
        All scoring and calculation errors are my own.
    </p>
</div>