<h3>Games</h3>

<div>
    <table mat-table [dataSource]="dataSource" #table="matTable" matSort class="mat-elevation-z8">

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
                Date
            </th>
            <td mat-cell *matCellDef="let game; table: table"> {{game.date}} </td>
        </ng-container>

        <!-- Away Team -->
        <ng-container matColumnDef="awayTeam">
            <th mat-header-cell *matHeaderCellDef>Away</th>
            <td mat-cell *matCellDef="let game"> {{game.awayTeamName}} </td>
        </ng-container>

        <!-- Home Team -->
        <ng-container matColumnDef="homeTeam">
            <th mat-header-cell *matHeaderCellDef>Home</th>
            <td mat-cell *matCellDef="let game"> {{game.homeTeamName}} </td>
        </ng-container>

        <!-- Away Score -->
        <ng-container matColumnDef="awayScore">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let game"> {{game.awayScore}} </td>
        </ng-container>

        <!-- Home Score -->
        <ng-container matColumnDef="homeScore">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let game"> {{game.homeScore}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; table: table"></tr>
    </table>
</div>


<div class="box-footer">
    <button type="button" class="btn btn-primary table-buttons" (click)="refresh()">
        <i class="fas fa-sync" [ngClass]="{'fa-spin': dataSource.loading$ | async}"></i>
        Refresh
    </button>
    <mat-paginator #paginator [length]="dataSource.totalCount$ | async" [pageIndex]="0" [pageSize]="defaultPageSize"
        [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
    </mat-paginator>
</div>