@use 'sass:map';
@use '@angular/material' as mat;
@use '../../baseball-theme';

.game-time {
    margin-left: 2em;
    font-size: small;
    font-weight: lighter;
}

mat-expansion-panel {
    margin-bottom: 1em;
}

table {
    margin: 0em;
}

.table-container {
    width: 100%;
    overflow: auto;

    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    min-height: 0;
}

:host {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

@media (prefers-color-scheme: dark) {

    table,
    mat-paginator {
        background-color: mat.get-theme-color(baseball-theme.$dark-theme, 'secondary', 20);
    }
}