@use 'sass:map';
@use '@angular/material' as mat;
@use '../../baseball-theme';

.date-cell {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 2em;
}

.game-time {
    font-size: smaller;
    font-weight: lighter;
}

.score {
    font-weight: bold;
    text-align: center;
    padding: 0.5em 0 0 0;
    min-width: 0;
}

$table-margin: 15pt;

.table-container {
    width: calc(100% - 2 * $table-margin);
    overflow: auto;

    margin-left: $table-margin;
    margin-right: $table-margin;
}

@media (max-width: 599px) and (orientation: portrait) {
    $table-margin: 0pt;

    .table-container {
        width: calc(100% - 2 * $table-margin);
        overflow: auto;

        margin-left: $table-margin;
        margin-right: $table-margin;
    }
}

mat-expansion-panel {
    margin: $table-margin;

    .filters {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        gap: 1em;

        mat-form-field {
            flex-grow: 1;
        }
    }
}

table {
    margin: 0em;
}

@media (prefers-color-scheme: dark) {

    table,
    mat-paginator {
        background-color: mat.get-theme-color(baseball-theme.$dark-theme, 'secondary', 20);
    }
}