@use 'sass:map';
@use '@angular/material' as mat;
@use '../../baseball-theme';

.date-cell {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 2em;
}

.game-time {
    font-size: smaller;
    font-weight: lighter;
}

.team-score {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.score {
    font-weight: bold;
    text-align: center;
    padding-left: 0.5em;
}

$table-margin: 15pt;

mat-expansion-panel {
    margin: $table-margin;
}

table {
    margin: 0em;
}


.table-container {
    width: calc(100% - 2 * $table-margin);
    overflow: auto;

    margin-left: $table-margin;
    margin-right: $table-margin;
}

@media (prefers-color-scheme: dark) {

    table,
    mat-paginator {
        background-color: mat.get-theme-color(baseball-theme.$dark-theme, 'secondary', 20);
    }
}