<form>
    <mat-form-field>
        <mat-label>Search</mat-label>
        <input type="text" matInput placeholder="Search for player or team" aria-label="Search"
            [formControl]="searchQuery" name="searchQuery" id="searchInput" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="resultDisplay">
            @for (option of filteredOptions$ | async; track optionId(option)) {
            <mat-option [value]="option" (onSelectionChange)="onOptionSelected(option)">
                {{ option.name }} {{ option.description }}
            </mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>
</form>