<div class="focused-item">
    @if(focusedOriginal$ | async; as focusedItem) {
    <h6>{{headerText(focusedItem)}}</h6>
    <span class="focused-content">
        @if (focusedItem.fileType === 'Live photo') {
        <app-live-photo [photo]="focusedItem"></app-live-photo>
        } @else if (focusedItem.fileType === 'Photo') {
        <picture>
            <source src="{{photoUrl(focusedItem)}}" type="{{photoType(focusedItem)}}">
            <img src="{{altPhotoUrl(focusedItem) || photoUrl(focusedItem)}}" alt="{{altText(focusedItem)}}">
        </picture>
        } @else if (focusedItem.fileType === 'Video') {
        <video controls>
            <source src="{{videoUrl(focusedItem)}}" type="{{videoType(focusedItem)}}">
            <source src="{{alternateVideoUrl(focusedItem)}}" type="{{altVideoType(focusedItem)}}">
            Your browser does not support the video tag.
        </video>
        }
    </span>
    } @else {
    <mat-spinner></mat-spinner>
    }
</div>
<div class="thumbnails">
    <app-thumbnail-scroll></app-thumbnail-scroll>
</div>