<div class="focused-item">
    @if(focusedOriginal$ | async; as focusedItem) {
    <h6>
        @if (backRoute) {
        <a [routerLink]="backRoute" class="back-link">
            <mat-icon>arrow_back</mat-icon>
        </a>
        }
        <span class="header-text">{{headerText(focusedItem)}}</span>
    </h6>
    <span class="focused-content">
        @if (focusedItem.fileType === FileType.livePhoto) {
        <app-live-photo [photo]="focusedItem"></app-live-photo>
        } @else if (focusedItem.fileType === FileType.photo) {
        <picture>
            <source src="{{photoUrl(focusedItem)}}" type="{{photoType(focusedItem)}}">
            <img src="{{altPhotoUrl(focusedItem) || photoUrl(focusedItem)}}" alt="{{altText(focusedItem)}}">
        </picture>
        } @else if (focusedItem.fileType === FileType.video) {
        <video #videoPlayer controls>
            <source src="{{videoUrl(focusedItem)}}" type="{{videoType(focusedItem)}}">
            <source src="{{alternateVideoUrl(focusedItem)}}" type="{{altVideoType(focusedItem)}}">
            Your browser does not support the video tag.
        </video>
        }
    </span>
    } @else {
    <mat-spinner></mat-spinner>
    }
</div>
<div class="thumbnails">
    <app-thumbnail-scroll></app-thumbnail-scroll>
</div>