<!-- <div #livephoto class="live-photo" style="height: 500px;"></div> -->
<div class="live-photo-container">
    <div class="button">
        <button type="button" (click)="toggleImage()" mat-fab extended>
            <mat-icon>play_circle_outline</mat-icon>
            Play
        </button>
    </div>
    <div class="photo" [@fade]="imgState">
        <picture [@fade]="imgState">
            <source srcset="{{imgSrc}}" type="{{imgType}}">
            <img src="{{altImgSrc || imgSrc}}" alt="{{altText}}">
        </picture>
    </div>
    <div class="video" [@fade]="videoState">
        <video #video muted controls preload="none" [@fade]="videoState" crossorigin="anonymous"
            (ended)="toggleImage()">
            <source src="{{videoSrc}}" type="{{videoType}}">
            <source src="{{altVideoSrc}}" type="{{altVideoType}}">
            Your browser does not support the video tag.
        </video>
    </div>
</div>