<table mat-table [dataSource]="dataSource" #table="matTable" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="name" sticky>
        <th mat-header-cell *matHeaderCellDef>
            Name
        </th>
        <td mat-cell *matCellDef="let fielder; table: table">
            <a [routerLink]="['/player', fielder.player.id]"
                routerLinkActive="router-link-active">{{fielder.player.name}}</a>

            &nbsp;
            <small>#{{fielder.number}}</small>
        </td>
    </ng-container>

    @for (basicStat of statNames; track basicStat) {
    <ng-container matColumnDef="{{basicStat}}">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>{{stats[basicStat].shortName}}</th>
        <td mat-cell *matCellDef="let fielder; table: table">{{fielder.stats[basicStat]}}</td>
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; table: table"></tr>
</table>