<h5>{{categoryLabel}}</h5>
<div class="header-stats">
    @for (stat of stats; track stat.definition.name) {
    <mat-card appearance="raised">
        @if (stat.definition.name === 'ThirdInningsPitched') {
        <mat-card-header>
            <mat-card-title>
                @if (fullInningsPitched !== null || partialInningsPitched !== null) {
                {{fullInningsPitched}}&nbsp;<span innerHtml={{partialInningsPitched}}></span>
                } @else {
                0
                }
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            IP
        </mat-card-content>
        } @else {
        <mat-card-header>
            <mat-card-title>
                @if (stat.value !== null) {
                {{stat.value | stat: stat.definition}}
                } @else {
                -
                }
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            {{stat.definition.shortName || stat.definition.name}}
        </mat-card-content>
        }
    </mat-card>
    }
</div>