@use 'sass:map';
@use '@angular/material' as mat;
@use '../../../baseball-theme';

.header-stats {
    display: flex;
    justify-content: space-evenly;
    column-gap: 0.5em;
    margin-bottom: 1em;
    padding-bottom: 1em;

    width: 100%;
    overflow-x: auto;
}

h5 {
    margin-left: 10pt;
    font-size: large;
}

:host.nested-in-card {
    @media (prefers-color-scheme: dark) {

        mat-card {
            background-color: mat.get-theme-color(baseball-theme.$dark-theme, 'secondary', 30);
        }
    }
}

:host.dense {
    @include mat.card-density(-5);

    .header-stats {
        margin-bottom: 0;
        padding-bottom: 5px;
    }

    h5 {
        margin: 0.5em 0 0.5em 0.5em;
    }
}