<app-list-filters [uniqueIdentifier]="uniqueIdentifier" [playerId]="playerId"></app-list-filters>

<div class="table-container">
    <table mat-table [dataSource]="dataSource" #table="matTable" matSort class="mat-elevation-z8">

        <!-- Date Column -->
        <ng-container matColumnDef="date" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
                Date
            </th>
            <td mat-cell *matCellDef="let playerGame; table: table">
                <a [routerLink]="['/game', playerGame.game.id]"
                    routerLinkActive="router-link-active">{{gameDate(playerGame)}}</a>
            </td>
        </ng-container>

        <!-- Away Team -->
        <ng-container matColumnDef="awayTeam">
            <th mat-header-cell *matHeaderCellDef>Away</th>
            <td mat-cell *matCellDef="let playerGame" [ngClass]="{'player-team': playerGame.isAway}">
                <a [routerLink]="['/team', playerGame.game.away.id]"
                    routerLinkActive="router-link-active">{{playerGame.game.away.abbreviation}}</a>&nbsp;<small>{{playerGame.game.awayScore}}</small>
            </td>
        </ng-container>

        <!-- Home Team -->
        <ng-container matColumnDef="homeTeam">
            <th mat-header-cell *matHeaderCellDef>Home</th>
            <td mat-cell *matCellDef="let playerGame" [ngClass]="{'player-team': playerGame.isHome}">
                <a [routerLink]="['/team', playerGame.game.home.id]"
                    routerLinkActive="router-link-active">{{playerGame.game.home.abbreviation}}</a>&nbsp;<small>{{playerGame.game.homeScore}}</small>
            </td>
        </ng-container>

        <ng-container matColumnDef="inningsPitched">
            <th mat-header-cell *matHeaderCellDef>IP</th>
            <td mat-cell *matCellDef="let playerGame; table: table">
                {{fullInningsPitched(playerGame)}}
                <span innerHtml={{partialInningsPitched(playerGame)}}></span>
            </td>
        </ng-container>

        @for (statName of pitchingStatNames; track statName) {
        <ng-container matColumnDef="pitching_{{statName}}">
            <th mat-header-cell *matHeaderCellDef>{{pitchingStats[statName].shortName}}</th>
            <td mat-cell *matCellDef="let playerGame; table: table">{{getStat(playerGame, statName,
                ColumnGroup.pitching) | stat : pitchingStats[statName]}}</td>
        </ng-container>
        }

        @for (statName of battingStatNames; track statName) {
        <ng-container matColumnDef="batting_{{statName}}">
            <th mat-header-cell *matHeaderCellDef>{{battingStats[statName].shortName}}</th>
            <td mat-cell *matCellDef="let playerGame; table: table">{{getStat(playerGame, statName, ColumnGroup.batting)
                | stat : battingStats[statName]}}</td>
        </ng-container>
        }


        <ng-container matColumnDef="general" sticky>
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
                <mat-button-toggle-group name="columnGroups" aria-label="Stat Group Selections"
                    (ngModelChange)="setOptionalColumnGroups($event)" [ngModel]="optionalColumnGroupSelection"
                    [hideMultipleSelectionIndicator]="true" multiple>
                    @if (dataSource.hasPitchingStats) {
                    <mat-button-toggle value="{{ColumnGroup.pitching}}">P</mat-button-toggle>
                    }
                    @if (dataSource.hasBattingStats) {
                    <mat-button-toggle value="{{ColumnGroup.batting}}">B</mat-button-toggle>
                    }
                </mat-button-toggle-group>
            </th>
        </ng-container>

        <ng-container matColumnDef="placeholder">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">
            </th>
        </ng-container>

        <ng-container matColumnDef="pitching">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="pitchingStatNames.length + 1"
                (click)="hideGroup(ColumnGroup.pitching)">
                Pitching
            </th>
        </ng-container>

        <ng-container matColumnDef="batting">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="battingStatNames.length"
                (click)="hideGroup(ColumnGroup.batting)">
                Batting
            </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnGroups"></tr>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let playerGame; columns: displayedColumns; table: table"></tr>
    </table>
</div>


<div class="box-footer">
    <mat-paginator #paginator [length]="dataSource.totalCount$ | async" [pageIndex]="0" [pageSize]="defaultPageSize"
        [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
    </mat-paginator>
</div>