.mat-column-name {
    min-width: fit-content;
    white-space: nowrap;
}

td:nth-child(even),
th:nth-child(even) {
    background-color: var(--mat-standard-button-toggle-selected-state-background-color);
}