@if (player$ | async; as player) {
<h3>
    {{player.info.name}}
</h3>
<app-player-games [playerId]="player.info.id" (uniqueIdentifierSet)="setGamesIdentifier($event)"></app-player-games>
@if(gamesIdentifier) {
@for (category of orderedCategories(player); track category) {

<app-player-summary-stats [player]="player" [category]="category"></app-player-summary-stats>
@if(category === StatCategory.batting) {
<app-player-batting-stats [playerId]="player.info.id" [gamesIdentifier]="gamesIdentifier"></app-player-batting-stats>
}
@if(category === StatCategory.pitching) {
<app-player-pitching-stats [playerId]="player.info.id" [gamesIdentifier]="gamesIdentifier"></app-player-pitching-stats>
}
}
}
} @else {
loading...
}