@if (player$ | async; as player) {
<h3>
    {{player.info.name}}
</h3>
<app-player-games [playerId]="player.info.id"></app-player-games>
@for (category of orderedCategories(player); track category) {

<app-summary-stats [summaryStats]="player.summaryStats" [category]="category"></app-summary-stats>
@if(category === StatCategory.batting) {
<app-player-batting-stats [playerId]="player.info.id"></app-player-batting-stats>
}
@if(category === StatCategory.pitching) {
<app-player-pitching-stats [playerId]="player.info.id"></app-player-pitching-stats>
}
}
} @else {
loading...
}