@if (player$ | async; as player) {
<h3>
    {{player.info.name}}
</h3>
<app-player-summary-stats [player]="player"></app-player-summary-stats>
@if(gamesIdentifier) {
<app-player-batting-stats [playerId]="player.info.id" [gamesIdentifier]="gamesIdentifier"></app-player-batting-stats>
<app-player-pitching-stats [playerId]="player.info.id" [gamesIdentifier]="gamesIdentifier"></app-player-pitching-stats>
}
<app-player-games [playerId]="player.info.id" (uniqueIdentifierSet)="setGamesIdentifier($event)"></app-player-games>
} @else {
loading...
}