<div class="table-container" id="teams-container">
    <table mat-table [dataSource]="dataSource" #table="matTable" matSort class="mat-elevation-z8" infiniteScroll
        [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" [horizontal]="false" [scrollWindow]="false"
        [immediateCheck]="true" infiniteScrollContainer="#teams-container" [fromRoot]="true" (scrolled)="refresh()">

        <ng-container matColumnDef="team">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                Team
            </th>
            <td mat-cell *matCellDef="let team; table: table">
                <a [routerLink]="['/team', team.team.id]" routerLinkActive="router-link-active">
                    {{team.team.city}} {{team.team.name}}
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="lastGame">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date of last game">
                Last Game
            </th>
            <td mat-cell *matCellDef="let team; table: table">{{lastGameDate(team)}}</td>
        </ng-container>

        <ng-container matColumnDef="games">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by games played">G</th>
            <td mat-cell *matCellDef="let team; table: table">{{team.games}}</td>
        </ng-container>


        <ng-container matColumnDef="wins">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by wins">W</th>
            <td mat-cell *matCellDef="let team; table: table">{{team.wins}}</td>
        </ng-container>


        <ng-container matColumnDef="losses">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by losses">L</th>
            <td mat-cell *matCellDef="let team; table: table">{{team.losses}}</td>
        </ng-container>

        <ng-container matColumnDef="parks">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number of parks">Parks
            </th>
            <td mat-cell *matCellDef="let team; table: table">{{team.parks}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; table: table"></tr>
    </table>
</div>