<h5>Teams</h5>

<div>
    <table mat-table [dataSource]="dataSource" #table="matTable" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="team">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
                Team
            </th>
            <td mat-cell *matCellDef="let team; table: table">
                <a [routerLink]="['/team', team.team.id]" routerLinkActive="router-link-active">
                    {{team.team.city}} {{team.team.name}}
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="lastGame">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date of last game">
                Last Game
            </th>
            <td mat-cell *matCellDef="let team; table: table">{{team.lastGameDate}}</td>
        </ng-container>

        <ng-container matColumnDef="games">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by games played">G</th>
            <td mat-cell *matCellDef="let team; table: table">{{team.games}}</td>
        </ng-container>


        <ng-container matColumnDef="wins">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by wins">W</th>
            <td mat-cell *matCellDef="let team; table: table">{{team.wins}}</td>
        </ng-container>


        <ng-container matColumnDef="losses">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by losses">L</th>
            <td mat-cell *matCellDef="let team; table: table">{{team.losses}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; table: table"></tr>
    </table>
</div>


<div class="box-footer">
    <button type="button" class="btn btn-primary table-buttons" (click)="refresh()">
        <i class="fas fa-sync" [ngClass]="{'fa-spin': dataSource.loading$ | async}"></i>
        Refresh
    </button>
    <mat-paginator #paginator [length]="dataSource.totalCount$ | async" [pageIndex]="0" [pageSize]="defaultPageSize"
        [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
    </mat-paginator>
</div>