@use '@angular/material' as mat;
@use 'baseball-theme';

@include mat.core();

html {
    @include mat.core-theme(baseball-theme.$light-theme);
    @include mat.button-theme(baseball-theme.$light-theme);
    @include mat.button-toggle-theme(baseball-theme.$light-theme);
    @include mat.card-theme(baseball-theme.$light-theme);
    @include mat.datepicker-theme(baseball-theme.$light-theme);
    @include mat.divider-theme(baseball-theme.$light-theme);
    @include mat.expansion-theme(baseball-theme.$light-theme);
    @include mat.form-field-theme(baseball-theme.$light-theme);
    @include mat.icon-button-theme(baseball-theme.$light-theme);
    @include mat.menu-theme(baseball-theme.$light-theme);
    @include mat.paginator-theme(baseball-theme.$light-theme);
    @include mat.progress-spinner-theme(baseball-theme.$light-theme);
    @include mat.sidenav-theme(baseball-theme.$light-theme);
    @include mat.table-theme(baseball-theme.$light-theme);
    @include mat.tabs-theme(baseball-theme.$light-theme);
    @include mat.tooltip-theme(baseball-theme.$light-theme);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-tab-body-wrapper {
    flex-grow: 1;
}

:root {
    --primary-color: #3A5A49;
    --secondary-color: #D8AD2B;
    --tertiary-color: #e2c260;
}