@use '@angular/material' as mat;
@use 'baseball-theme';

@include mat.core();

html {
    @include mat.all-component-themes(baseball-theme.$light-theme);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-tab-body-wrapper {
    flex-grow: 1;
}

.sidenav .mdc-list-item__primary-text {
    color: var(--secondary-color) !important
}

:root {
    --primary-color: #3A5A49;
    --secondary-color: #D8AD2B;
    --tertiary-color: #e2c260;
}