<div class="admin">

    @if (isLoggedIn) {
    <p>
        Admin is logged in!
    </p>
    <button mat-button color="accent" (click)="openImportDialog()">Import Game
    </button>
    <button mat-button color="accent" (click)="openTeamDialog()">Add/Edit Team
    </button>
    <button mat-button color="accent" (click)="openConstantsRefreshDialog()">Refresh FanGraphs Constants
    </button>
    }
    @else {
    <p>
        Please log in
    </p>
    <form [formGroup]="loginInfo" (ngSubmit)="login()">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
            <button mat-button type="submit" matSuffix [disabled]="!loginInfo.valid">Login</button>
        </mat-form-field>
    </form>
    }
</div>