.header-stats {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
    padding-bottom: 1em;

    width: 100%;
    overflow-x: auto;
}

.stat-wrappers {
    margin-bottom: 1em;
    padding-bottom: 1em;
}